@keyframes noise {
    0%, 100% { clip-path: inset(100%); }
    10%, 30%, 50%, 70% { clip-path: inset(0% round 10%); }
    20%, 40%, 60%, 80% { clip-path: inset(0% round 5%); }
}

@keyframes scanlines {
    0%, 100% { transform: translateY(0%); }
    50% { transform: translateY(100%); }
}

@keyframes vhs {
    0%, 100% { filter: hue-rotate(0deg); }
    50% { filter: hue-rotate(1deg); }
}

.hidden-link {
    text-decoration: none; 
    color: inherit; 
    cursor: default;
}

.hidden-link:hover {
    text-decoration: none; 
    cursor: default;
}

.vhs-scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 1px,
        rgba(0, 0, 0, 0.1) 1px,
        rgba(0, 0, 0, 0.1) 3px
    );
    animation: scanlines 5s infinite linear;
}

@keyframes vhsBug {
    0%, 100% {
        opacity: 1;
        transform: scale(1) skew(0deg);
        filter: hue-rotate(0deg);
    }
    25% {
        opacity: 0.75;
        transform: scale(1.1) skew(-10deg);
        filter: hue-rotate(20deg);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.9) skew(10deg);
        filter: hue-rotate(-20deg);
    }
    75% {
        opacity: 0.75;
        transform: scale(1.05) skew(-5deg);
        filter: hue-rotate(10deg);
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style de base pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.login-icon-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; 
}

.login-icon-container i {
    font-size: 36px; 
    color: #000;
    padding-right: 30px;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.menu-burger {
    display: none;
    cursor: pointer;
}

.menu-burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.user-profile {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

@keyframes redFlash {
    0%, 100% { background-color: transparent; }
    50% { background-color: rgba(255, 0, 0, 0.5); }
}

.errorAnimation {
    animation: shake 0.25s ease, redFlash 0.25s ease;
}

/* Style pour les écrans plus petits */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 60px;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .nav-links li {
        padding: 20px;
    }

    .menu-burger {
        display: block;
    }
}

.vhs-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    display: none; /* Caché par défaut */
    animation: vhsBug .5s forwards;
}

body.profile-page {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
}

.profile-page main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-page h2 {
    color: #e0e0e0;
}

.profile-page .profile-picture {
    width: 120px; /* Réduire la taille de l'image */
    height: 120px; /* Réduire la taille de l'image */
    border-radius: 50%; /* Pour une image de profil ronde */
    display: block;
    margin: 0 auto 20px; /* Centrer l'image et ajouter un espace en bas */
}

.profile-page section {
    margin-bottom: 20px;
}

body.profile-page {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.search-section {
    background-color: #1f1f1f;
    padding: 40px 20px;
    text-align: center;
    margin-top: 20px;
}

.search-form {
    display: inline-block;
    width: 100%;
    max-width: 600px;
}

.search-input {
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 16px;
}

.search-button {
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #555;
}

.profile-page main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Réduire la hauteur à 80% de la hauteur de la vue */
    padding-top: 2%; /* Ajoutez cette ligne pour remonter la div */
}

.login-container {
    position: relative; /* Ajoutez cette ligne pour positionner le logo par rapport à .login-container */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 450px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    text-shadow: none;
}

#loadingPercentage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
}

.loading-spinner {
    display: none; 
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto 0;
    position: relative; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.logo {
    position: absolute; /* Positionnement absolu par rapport à .login-container */
    top: 10px; /* Ajustez la valeur pour positionner verticalement */
    right: 10px; /* Ajustez la valeur pour positionner horizontalement */
    width: 75px; /* Ajustez la taille du logo selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect du logo */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    display: none;
    margin-top: 10px;
}

.profile-page h2 {
    color: #e0e0e0;
}

.profile-page .profile-picture {
    width: 120px; /* Réduire la taille de l'image */
    height: 120px; /* Réduire la taille de l'image */
    border-radius: 50%; /* Pour une image de profil ronde */
    display: block;
    margin: 0 auto 20px; /* Centrer l'image et ajouter un espace en bas */
}

.profile-page section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1f1f1f;
    color: #e0e0e0;
    width: 100%;
    position: relative;
    bottom: 0;
}

body {
    background-color: #0d0d0d; /* Fond sombre */
    color: #e0e0e0; /* Texte clair pour contraster avec le fond */
    font-family: 'Courier New', Courier, monospace; /* Police évoquant le code ou les messages secrets */
    margin: 0;
    padding: 20px;
    /* Bruit de fond */
    background: repeating-linear-gradient(
        transparent,
        transparent 1px,
        rgba(255, 255, 255, 0.1) 1px,
        rgba(255, 255, 255, 0.1) 2px
    );

    /* Ondulation */
    animation: vhs 5s infinite linear;

    /* Décalage des couleurs */
    color: rgba(255, 0, 0, 0.7);
    text-shadow:
        1px 0 rgba(0, 255, 255, 0.7),
        -1px 0 rgba(0, 255, 0, 0.7);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #ff4500; /* Rouge orangé pour attirer l'attention */
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
}

/* Animation pour faire clignoter le titre */
@keyframes blink {
    50% { opacity: 0; }
}

h1 {
    animation: blink 2s infinite;
}

/* Style pour les liens */
a {
    color: #ff4500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #0a0a0a;
    color: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
}



#formulaire-dechiffrement {
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    margin: 20px auto;
    width: fit-content;
}

#formulaire-dechiffrement label {
    color: #ff0000;
}

#formulaire-dechiffrement input, #formulaire-dechiffrement button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
}

#formulaire-dechiffrement button:hover {
    background-color: #444;
}

footer p {
    text-align: center;
    color: #666;
}